
/* Base, Utility 
======================================== */

* {
    box-sizing: content-box;
}
body {
    margin: 0;
    /* Thanks to Google PWA Starter Kit for the font stack, body styling  */
    /* This is a font-stack that tries to use the system-default sans-serifs first */
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(0, 0, 0, 0.05);
}
::selection {
    background: #ecb72f;
  }
:target {
    box-shadow: 2px 2px 18px rgba(0,0,0,0.05);
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,1);
}

a {
    font-size: inherit;
    color: rgba(170, 0, 0, 1);
    transition: all 0.25s ease-out, color 0.12s ease-out, background-color 0.12s ease-out;
}
a:hover {
    background-color: rgb(236, 183, 47);
    text-decoration: underline;
    color: #000;
}
a:focus {
    background-color: rgba(170, 0, 0, 1);
    text-decoration: underline;
    color: #fff;
    outline-color: #ecb72f;
}
abbr {
    font-variant: none;
}
dl {
    margin: 0;
}
dd,
dt {
    margin: 0 0 12px;
}
figure {
    margin: 0;
}
footer {
    background-color: #05182A;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0) 100%);
    color: #fff;
    margin-top: 56px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 24px;
}
hr {
    margin: 0 auto 12px;
    border: 0;
    background-color: rgba(0,0,0,0.05);
    height: 2px;
}
p {
    margin: 0;
    padding: 0 0 12px;
}
strong em {
    text-decoration: underline;
    font-style: inherit;
}
td {
    vertical-align: middle;
    text-align: center;
}
ul {
    margin: 0 0 12px;
    padding: 0 0 0 24px;
}
ul ul {
    margin-bottom: 0;
}

.u-dn {
    display: none;
}
.u-visually-hidden {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.u-visually-hidden a:focus,
.u-visually-hidden input:focus,
.u-visually-hidden button:focus { 
    position:static; 
    width:auto; height:auto;
}
/* B
======================================== */
.banner {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index:1;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 24px 12px 24px 12.6%;
    font-size: 55px;
    color: rgba(0,0,0,0.9);
    font-weight: 600;
    border: 0;
    box-shadow: 0;
    text-decoration: none;
}

.banner__cycle {
    display: inline-block;
}
.banner__author {
    display: flex;
    flex-direction: column;
}
.banner__title {
    display: inline-block;
    font-size: 20px;
}
.banner__roles {
    display: inline-block;
    font-size: 14px;
    padding-left: 2px;
}

.banner__logo {
    margin-right: 12px;
}

.but-mighty {
    display: block;
    text-align: center;
    padding: 24px 12px 36px;
    color: rgba(255,255,255,0.6);
}

/* C 
======================================== */
.card {
    transition: all 0.25s ease-out;
    box-shadow: 0 1px 0 rgba(0,0,0,0);
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.005);
    margin-bottom: 12px;
}
.card:target {
    box-shadow: 2px 2px 18px rgba(0,0,0,0.05);
    padding: 12px;
    background-color: rgba(255,255,255,1);
}
.card:target .card__title {
    border-bottom: 2px solid rgba(236, 183, 47, 1);
}
.card__title {
    border-bottom: 2px solid rgba(236, 183, 47, 0);
    transition: border-bottom 0.25s ease-in-out;
}
.card--contact {
    transition: all 0.5s ease-out;
    padding: 12px;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0) 100%);
}
.card--contact a{
    color: #fff;
    color: #ecb72f;
}
.card--contact a:focus {
    background-color: #fff;
    color: #000;
}
.card--contact a:hover {
    background-color: rgba(255,255,255,1);
    color: #000;
}
.card--contact {
    padding: 24px;
    box-shadow: none;
    border: 0;
    border-top: 0 solid rgba(236, 183, 47, 1);
    max-width: 75%;
    margin: 0 auto;
}
.card--contact:target {
    background-color: transparent;
    background-image: transparent;
    padding: 24px;
    box-shadow: none;
    border: 0;
    border-top: 10px solid rgba(236, 183, 47, 1);
}
.card--contact:target h2 {
    border-bottom: 1px solid transparent;
}
.card--contact:target h2 {
    border-bottom: 1px solid #ecb72f;
}
.card--settings {
    margin: 48px auto 12px;
    padding: 24px;
    max-width: 650px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 10px 10px 1px rgba(0,0,0,0.0001);
}
.card--settings:target {
    padding: 24px;
}
.card__resources {
    position: relative;
}

/* G 
======================================== */
.group__title {
    border-bottom: 2px solid rgba(236, 183, 47, 0);
    transition: border-bottom 0.25s ease-in-out;
}
.group:target .group__title {
    border-bottom: 2px solid rgba(236, 183, 47, 1);
}

/* J
======================================== */
.jump-top {
    float: right;
    font-size: 12px;
    text-decoration: none;
    padding: 4px;
}
.jump-top:focus {
    background-color: #aa0000;
    color: #fff;
}
.jump-top--light {
    color: #fff;
}
.jump-top--light:focus {
    background-color: #fff;
    color: #000;
}
.jump-top__target {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: none;
    box-shadow: none;
}
/* M
======================================== */

.menu {
    display: flex;
    list-style-type: none;
    justify-content: left;
    padding: 0 0 0 11.8%;
    margin: 0 0 12px;
    background-color: #aa0000;
    background-image: linear-gradient(-90deg, rgba(170, 0, 0, 0.5) 12%, rgba(221, 10, 10, 0.5) 100%);
    box-shadow: 0 10px 1px rgba(0,0,0,0.01);
    color: rgba(0,0,0,0.75);
}
.menu__item {
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    padding: 12px;
    box-sizing: border-box;

    display: inline-block;
}
.menu__item:focus {
    background-color: #fff;
    color: #000;
    outline-color: #ecb72f;
}
.menu__item:hover {
    background-color: #ecb72f;
    color: #000;
    text-decoration: underline;
}


.menu__section {
    box-shadow: 3px 0px 2px rgba(0,0,0,0.1);
    display: flex;
}
.menu__sub {
    margin: 8px 0;
    list-style-type: decimal-leading-zero;
    padding-left: 34px;
}
.menu__sub li {
    margin-bottom: 4px;
}
.menu__sub .menu__item {
    padding: 4px 12px 4px;
    width: 100%;    
}

.messaging {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.messaging__button {
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 0;
    margin: 0;
    transition: right 0.25s ease-out;
    max-height: 0;
    max-width: 0;
}
.messaging__button:focus {
    right: 50px;
    max-height: 100%;
    max-width: 100%;
}
.messaging__button:checked + .messaging__text {
    padding: 0;
    margin-top: -100%;
}
.messaging__button:focus + .messaging__text {
    margin-right: 18px
}
.messaging__inner {
    padding: 12px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}
.messaging__label {
    padding: 4px 0;
    transition: all 0.25s ease-in-out;
    background-color: #f2f2f2;
    width: 35px;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 2;
}
.messaging__label:hover {
    background-color: #ecb72f;
    color: #000;
    text-decoration: underline;
}
.messaging__text {
    transition: all 0.25s ease-in-out;
    padding: 4px;
    margin-right: 4px;
    line-height: 1;
    display: inline-block;
}

/* O
======================================== */
.oakca {    
    width: 100px/*50px*/;
    height: 114px/*57px*/;
}
.oakca__outer{fill:#05182A;stroke:#fff;stroke-miterlimit:10;}
.oakca__inner{fill:#ecb72f;}
.oakca__negative{fill:#fff;}

.one-hundreds {
    color: green;
}

/* S
======================================== */
.settings__table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 24px;
}
.settings__table {
    width: 100%;
    margin-bottom: 24px;
}
.settings__table th {
    font-weight: 400;
    text-decoration: underline;
}
.settings__table-caption {
    font-size: 12px;
}
.settings__table-link {
    text-decoration: none;
    padding: 12px;
}
.settings__table-link:hover {
    text-decoration: none;
}
.settings__table-link:focus {
    text-decoration: none;
}
.settings__table td {
    padding: 12px;
}
.spa__resources-inner {
    overflow: hidden;
}
.spa__resources {
    margin-top: -500vh;
    transition: margin 0.75s ease-out;
}
#spa__resources-input:checked + .spa__resources-inner .spa__resources,
.spa__resources:focus-within {
    margin-top: 0;
}

/* T
======================================== */
.toggle-button {
    position: absolute;
    top: 12px;
    left: 15px;
    margin: 0;
    z-index: 0;
    transition: left 0.25s ease-in-out;
}
.toggle-button:focus {
    left: -15px;
}

.toggle-label {
    cursor: pointer;
    display: block;
    padding: 10px;
    transition: all 0.25s ease-in-out;
    color: rgba(170, 0, 0, 1);
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 10px 10px 1px rgba(0,0,0,0.01);
    margin-bottom: 15px;
    line-height: 1;
    position: relative;
    z-index: 2;
 }
 .toggle-label:hover {
     background-color: #ecb72f;
     color: #000;
     text-decoration: underline;
     box-shadow: 10px 10px 3px rgba(255, 183, 0, 0.02);
 }
 .toggle-target a:focus {
    position:static; 
    width:auto; height:auto;  
 }

/* W
======================================== */
.work {
    margin: 0 auto;
    max-width: 75%;
}

.work__bio {
    padding: 12px;
}
.work__tags {
    /*display: flex;
    align-items: center;*/
}
.work__tags dd {
    /*background-color: grey;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;*/
}
