<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
  
  <title>Front End Web Development | Oakenfold Enterprises (un)Ltd. ∞ | Hi from The West Coast!</title>
  <meta property="og:title" content="Front End Web Development | Oakenfold Enterprises (un)Ltd. ∞">
  <meta property="og:locale" content="en_US">
  <meta name="description" content="{{site.description}}">
  <meta property="og:description" content="{{site.description}}">
  <link rel="canonical" href="https://oakenfold.ca">
  
  <meta property="og:url" content="https://oakenfold.ca">
  <meta property="og:site_name" content="Front End Web Development | Oakenfold Enterprises (un)Ltd. ∞">
  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa0000">
  <meta name="msapplication-TileColor" content="#aa0000">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="css/screen.css">
  <link rel="stylesheet" href="css/screen-medium.css">
  <link rel="stylesheet" href="css/screen-small.css">
</head>
