<section id='wcag' class='card'>
    <a class='jump-top' href='#top' role='button'>Top</a>
    <div class='card__content'>
        <h3 class='card__title'>Web Content Accessibility&nbsp;Guidelines</h3>
    
        <!-- Why should I care? -->
        <p></p>

        <!-- Are you the one to help? -->
        <p></p>

        <!-- Results, statistics -->
        <div>
            <p>Animikii, WatchMojo</p>
        </div>
        <ul>
            <li>Met AAA rating</li>
            <li>Tested for visual disabilities</li>
            <li>Generated alternate text content.</li>
            <li>Semantic markup, aria labels</li>
        </ul>
    </div>
    <aside class='card__resources'>
        <h4>Resources</h4>
        <ul>
            <li>
                <a href='//alistapart.com/article/diy-web-accessibility-blueprint'
                target='_blank'
                rel='noopener'>A DIY Web Accessibility Blueprint.</a>
            </li>
            <li>
                <a href='//michelf.ca/projects/sim-daltonism/'
                target='_blank'
                rel='noopener'>Sim Daltonism: The color blindness simulator.</a>
            </li>
            
            <li>
                <a href='//www.adatitleiii.com/2018/04/beyond-title-iii-website-accessibility-lawsuits-filed-alleging-inaccessible-online-employment-applications/'
                target='_blank'
                rel='noopener'>Beyond Title III:
                Website Accessibility Lawsuits Filed Alleging Inaccessible Online Employment Applications.</a>
            </li>
            <li>
                <a href='//www.sgrlaw.com/is-your-website-a-place-of-public-accommodation-under-the-americans-with-disabilities-act/'
                target='_blank'
                rel='noopener'>Is Your Website a “Place of Public Accommodation” 
                    Under the Americans with Disabilities Act?</a>
            </li>
        </ul>
    </aside>
</section>