<section id='web-performance' class='card'>
    <a class='jump-top' href='#top' role='button'>Top</a>
    <div class='card__content'>
        <h3 class='card__title'>{{- site.data.work.speed.title | escape -}}</h3>
    
        <!-- Why should I care? -->
        <p>{{- site.data.work.speed.text[0] | escape -}}</p>
        
        <figure>
            <blockquote>
                ... it was found that sites loading within 5 seconds had 70% longer sessions, 35% lower bounce rates, and 25% higher ad viewability than sites taking nearly four times longer at 19 seconds.
            </blockquote>
            <figcaption><a href='//developers.google.com/web/fundamentals/performance/why-performance-matters/'>Why Performance Matters</a></figcaption>
        </figure>

        <!-- Are you the one to help? -->
        <p>{{- site.data.work.speed.text[1] | escape -}}</p>

        <ul>
            <li>require.js dynamic includes</li>
            <li>lazy loading 3rd party</li>
            <li>http/2</li>
            <li>webpagetest</li>
            <li>Cache static content, reduce expensive db calls, inline cache .json to rehydrate state</li>
        </ul>

        <p>
            For the second release (<abbr>V2</abbr>) of 
            <a href='//www.fyndit.com/wanted_found'
            target='_blank'
            rel='noopener'>fyndit.com</a>, 
            page load performance was tested at 
            <a href='//webpagetest.org'
            target='_blank'
            rel='noopener'>webpagetest.org</a>
            against the <strong><em>initial load on a slow 3G connection using a mid-tier mobile device.</em></strong>
        </p>

        <p>This latest version of the site outperformed the previous release in several key metrics:</p>

        <ul>
            <li><strong>First Interactive</strong> time went from 17.959s down to 7.918s. <strong>A 56% reduction.</strong></li>
            <li><strong>Fully Loaded Bytes In</strong> size went from 1084kb down to 749kb. <strong>A 30% reduction.</strong></li>
            <li><strong>Fully Loaded Time</strong> went down from 27.476s to 25.09s. <strong>A 8.67% reduction.</strong></li>
        </ul>

        <p>
            V2 also outperformed sample pages from 
            Amazon 
            <sup>
                <a href='//www.amazon.com/Instant-Pot-Muti-Use-Programmable-Pressure/dp/B01MFEBQH1?pd_rd_wg=..._gw_ri&pf_rd_r=Q7PY8RX7D8SFP21X309C&pf_rd_p=7b6d690e-1944-54ab-a4d2-4eb3bd7e198b'
                target='_blank'
                rel='noopener'>1</a>
            </sup>,  
            Reddit 
            <sup>
                <a href='//www.reddit.com/r/mildlyinteresting/comments/7a2kjo/my_tape_dispenser_broke_and_it_was_filled_with/'
                target='_blank'
                rel='noopener'>2</a>
            </sup>
            and Twitter
            <sup>
                <a href='//mobile.twitter.com/HarjitSajjan/status/926133170097057792'
                target='_blank'
                rel='noopener'>3</a>
            </sup>.
        </p>

        <ul>
            <li>Fyndit's <strong>Fully Loaded Time</strong> is <strong>58.42%</strong> faster than Amazon.</li>
            <li>Fyndit's <strong>Fully Loaded Time</strong> is <strong>29.79%</strong> faster than Reddit.</li>
            <li>Fyndit's <strong>Fully Loaded Time</strong> is <strong>6.27%</strong> faster than Twitter.</li>
        </ul>
    </div>
    <aside class='card__resources'>
        <h4>Resources</h4>
        <ul>
            <li>
                Slow 3G, 1st load, mid-tier mobile device:
                <ul>
                    <li>
                        <a href='//www.webpagetest.org/result/180606_RX_5717dd9394d6d0600d8004295b0fa79c/'
                        target='_blank'
                        rel='noopener'>Oakenfold.ca</a>
                    </li>
                    <li>
                        <a href='//www.webpagetest.org/result/180523_8H_0c5289bf762d4c72c14a09f2c7129f4d/'
                        target='_blank'
                        rel='noopener'>FyndIt</a>
                    </li>
                </ul>
            </li>
            <li>
                Cable, 1st load, desktop device:
                <ul>
                    <li>
                        <a href='//www.webpagetest.org/result/180606_81_ebcc08448ba1ad156c1242ff762eee04/'
                        target='_blank'
                        rel='noopener'>FyndIt</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='https://docs.google.com/spreadsheets/d/e/2PACX-1vSnScGMiZrGOEsZdyl-XyLQP16C3EAH2H0RW0LrAT-Nfouzm5GL7shK9ILnro-87gE9GMUP3nA_jXy1/pubhtml'
                target='_blank'
                rel='noopener'>
                    Fyndit: spreadsheet of web performance results against V1, Amazon, Twitter, Reddit
                </a>
            </li>
        </ul>
    </aside>
</section>
