<ul class='spa__resources'>
    <li>
        CSS:
        <ul>
            <li>
                <a href='//getbem.com/introduction/'
                target='_blank'
                rel='noopener'>Block Element Modifier 
                    (<abbr>BEM</abbr>) CSS Methodology</a>
            </li>
            <li>
                <a href='//sass-lang.com/'
                target='_blank'
                rel='noopener'>SCSS</a>
            </li>
            <li>
                <a href='//github.com/postcss/postcss'
                target='_blank'
                rel='noopener'>PostCSS</a>
                <ul>
                    <li>
                        <a href='//github.com/postcss/autoprefixer'
                        target='_blank'
                        rel='noopener'>autoprefixer</a>
                    </li>
                    <li>
                        <a href='//github.com/robwierzbowski/node-pixrem'
                        target='_blank'
                        rel='noopener'>node-pixrem</a> (REM units)
                    </li>
                </ul>
            </li>
            <li>
                <a href='//foundation.zurb.com'
                target='_blank'
                rel='noopener'>Foundation</a>
            </li>
        </ul>
    </li>
    <li>
        3rd Party Integration:
        <ul>
            <li>
                <a href='//developer.paypal.com/docs/classic/products/digital-goods/'
                target='_blank'
                rel='noopener'>Paypal: Express Checkout Digital Goods</a>
            </li>
            <li>
                <a href='//www.google.com/analytics/'
                target='_blank'
                rel='noopener'>Google Analytics</a>
            </li>
            <li>
                <a href='//developers.google.com/maps/documentation/javascript/tutorial'
                target='_blank'
                rel='noopener'>Google Maps</a>
            </li>
            <li>
                <a href='//developers.google.com/places/web-service/intro'
                target='_blank'
                rel='noopener'>Google Places</a>
            </li>
            <li>
                <a href='//developer.foursquare.com/places-api'
                target='_blank'
                rel='noopener'>Foursquare: Places API</a>
            </li>
        </ul>
    </li>
    <li>
        Javascript:
        <ul>
            <li>User authentication</li>
            <li>Form Validation</li>
            <li>
                <a href='//bluebirdjs.com/docs/getting-started.html'
                target='_blank'
                rel='noopener'>bluebird.js</a> (Promise library)
            </li>
            <li>
                <a href='//github.com/mroderick/PubSubJS'
                target='_blank'
                rel='noopener'>PubSubJS</a>
            </li>
            <li>
                <a href='//underscorejs.org'
                target='_blank'
                rel='noopener'>Underscore.js</a>
            </li>
            <li>
                <a href='//momentjs.com/'
                target='_blank'
                rel='noopener'>Moment.js</a>
            </li>
            <li>
                <a href='//fineuploader.com/'
                target='_blank'
                rel='noopener'>Fine Uploader</a>
            </li>
            <li>
                <a href='//en.wikipedia.org/wiki/Asynchronous_module_definition'
                target='_blank'
                rel='noopener'>Asynchronous Module Definition
                    (<abbr>AMD</abbr>)</a>
            </li>
            <li>
                <a href='//requirejs.org/'
                target='_blank'
                rel='noopener'>RequireJS</a>
                <ul>
                    <li>
                        <a href='//requirejs.org/docs/optimization.html'
                        target='_blank'
                        rel='noopener'>r.js build optimizer</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='//github.com/kenwheeler/slick'
                target='_blank'
                rel='noopener'>Slick.js</a>
            </li>
            <li>
                <a href='//amsul.github.io/pickadate.js'
                target='_blank'
                rel='noopener'>pickadate.js</a>
            </li>
            <li>
                <a href='//imagesloaded.desandro.com'
                target='_blank'
                rel='noopener'>imagesLoaded</a>
            </li>
            <li>
                <a href='//github.com/sindresorhus/query-string'
                target='_blank'
                rel='noopener'>query-string</a>
            </li>
            <li>
                <a href='//imakewebthings.com/waypoints/'
                target='_blank'
                rel='noopener'>Waypoints</a>
                <ul>
                    <li>Infinite scrolling</li>
                </ul>
            </li>
            <li>
                <a href='//dropkickjs.com/'
                target='_blank'
                rel='noopener'>Dropkick</a>
            </li>
            <li>
                <a href='//afarkas.github.io/webshim/demos/index.html'
                target='_blank'
                rel='noopener'>Webshim</a>
            </li>
            <li>
                <a href='//developer.mozilla.org/en-US/docs/Web/API/Geolocation/getCurrentPosition'
                target='_blank'
                rel='noopener'>Geolocation API</a>
            </li>
            <li>
                <a href='//developer.mozilla.org/en-US/docs/Web/API/History'
                target='_blank'
                rel='noopener'>History API</a>
            </li>
            <li>
                <a href='//jquery.com/'
                target='_blank'
                rel='noopener'>jQuery</a>
            </li>
        </ul>
    </li>
    <li>HTML</li>
    <li>Email markup/styling</li>
    <li>SVG</li>
    <li>
        Infrastructure, tools:
        <ul>
            <li>
                <a href='//www.python.org/'
                target='_blank'
                rel='noopener'>Python</a>
            </li>
            <li>
                <a href='//www.tornadoweb.org/en/stable/template.html'
                target='_blank'
                rel='noopener'>Tornado templates</a>
            </li>
            <li>
                <a href='//www.rabbitmq.com/'
                target='_blank'
                rel='noopener'>RabbitMQ</a>
            </li>
            <li>
                <a href='//www.nginx.com/'
                target='_blank'
                rel='noopener'>NGINX</a>
            </li>
            <li>
                <a href='//redis.io/'
                target='_blank'
                rel='noopener'>Redis</a>
            </li>
            <li>
                <a href='//supervisord.org/'
                target='_blank'
                rel='noopener'>Supervisor</a>
            </li>
            <li>
                <a href='//jenkins.io/'
                target='_blank'
                rel='noopener'>Jenkins Continuous Integration</a>
            </li>
            <li>
                <a href='//gruntjs.com'
                target='_blank'
                rel='noopener'>Grunt</a>
            </li>
        </ul>
    </li>
</ul>