<section id='spa' class='card' markdown='1'>
<div class='card__content card__content--full'>
{% include jump-top-alternate.html %}
<div markdown='1'>{% include spa/content.md %}</div>
<div class="toggle">
<label class='toggle-label'
for='toggle-button-spa'>See more features, libraries, and technologies used in this project.</label>
<input id='toggle-button-spa'
class='toggle-button js-toggle-button'
aria-label='See the features, libraries, and technologies used in this project.'
type='checkbox'><div class='toggle-target'>
<div class='toggle-container toggle-container--spa'>
<h3 class='u-visually-hidden'>See more features, libraries, and technologies used in this project</h3>
{% include spa/resources.html %}
</div>
</div>
</div>
</div>

</section>
