<section id='spa' class='card' markdown='1'>
{% include jump-top.html %}

<div class='card__content' markdown='1'>
{% include spa/content.md %}
</div>

<aside class='card__resources'>
<label class='toggle-label'
for='toggle-button-spa'>See more features, libraries, and technologies used in this project.</label>
<input id='toggle-button-spa'
class='toggle-button toggle-button--aside'
aria-label='See the features, libraries, and technologies used in this project.'
type='checkbox'><!-- 
Keep these next to each other in source
--><div class='toggle-target'>
<div class='toggle-container toggle-container--spa'>
{% include spa/resources.html %}
</div>
</div>
</aside>

</section>
