// We are trying out named variables for color values
//
// Problem & solution:
// http://sachagreif.com/sass-color-variables/
//
// Newer article that's rehashing the above solution:
//   http://davidwalsh.name/sass-color-variables-dont-suck
//
// Website to get named colors:
//   http://chir.ag/projects/name-that-color/#6195ED
//   http://www.color-blindness.com/color-name-hue/
//
// Sublime plugin
//   https://github.com/mattfordham/Name-That-Color---Sublime-Plugin
//

/* ================================================
   Descriptive Color Variables
================================================ */
$b: #000;
$w: #fff;

$apple-blossom:  #a94442;
$azure-radiance: #0d86ff;
$beryl-green:    #d6e9c6;
$calypso:        #31708f;
$champagne:      #faebcc;
$charlotte:      #bce8f1;
$chrome-white:   #e9f0d8;
$killarney:      #3c763d;
$link-water:     #d9edf7;
$oyster-pink:    #ebccd1;
$pesto:          #8a6d3b;
$sea-buckthorn:  #f89c31;
$solitaire:      #fcf8e3;
$vanilla-ice:    #f2dede;
$tulip-tree:     #ECB72F;
$emperor: #4d4d4d;
$nobel: #B4B4B4;
// Brand Colors
// ------------------------------------------------
$brand-facebook:  #4c6fa4;
$brand-pinterest: #cb2027;
$brand-tumblr:    #3c5f7b;
$brand-twitter:   #55acee;


/* ================================================
  Functional Variable Names
================================================ */
$base-bg: $emperor;
$base-text: $nobel;

// link
$link-hover-opaque: rgba(236, 183, 47, 1);
$link-hover-trans: rgba(236, 183, 47, 0);
$link-hover: $tulip-tree;
$link: $azure-radiance;

//Message color sets
$msg-success-bg: $chrome-white;
$msg-success-border: $beryl-green;
$msg-success-font: $killarney;

$msg--info--bg: $link-water;
$msg--info--border: $charlotte;
$msg--info--font: $calypso;

$msg-warning-bg: $solitaire;
$msg-warning-border: $champagne;
$msg-warning-font: $pesto;

$msg-danger-bg: $vanilla-ice;
$msg-danger-border: $oyster-pink;
$msg-danger-font: $apple-blossom;

// social media colors
$facebook: $brand-facebook;
$twitter: $brand-twitter;
$pinterest: $brand-pinterest;
$tumblr: $brand-tumblr;