<!doctype html>
<html lang="en">

  {%- include head.html -%}

  <body>
    <div class="container">
        {% include header.html %}
        {{ content }}
    </div>

    <svg class="u-dn" xmlns="http://www.w3.org/2000/svg">
        <symbol id="oakca" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.78 281.43">
            <ellipse class="oakca__outer" cx="123.89" cy="140.72" rx="123.39" ry="140.22" />
            <circle class="oakca__inner" cx="141.72" cy="127.54" r="80.43" />
            <circle class="oakca__negative" cx="101.72" cy="127.54" r="80.43" />
        </symbol>
    </svg>

    
    <script src="script.js" async></script>
    
  </body>
</html>