.b-content {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.b-link-ext {
    &:after{
        content: attr(href);
        padding: 0 0 0 0.5rem;
        font-size: 1.2rem;
    }
}

$logo: 4rem;
.b-logo-oakenfold__icon {
    width: $logo;
    height: $logo;
    vertical-align: middle;
}

.b-logo-oakenfold__name {
    line-height: $logo;
    white-space: nowrap;
    font-size: 1.2rem;
}

.b-main {
    background-color: $base-bg;
    margin: 0;
    padding: 1rem 2rem 4rem;
}