@import 'fieldset-legend';

html { font-size: 62.5%; }

body {
    background-color: $base-bg;
    color: $base-text;
    font-family: sans-serif;
    font-size: 1.6em;
    line-height: 1.6;
    margin: 0;
}

code,
h1,
h2,
h3,
h4,
h5,
h6,
kbd,
p,
div,
ul,
ol,
dl,
table,
blockquote,
fieldset > legend {
    font-weight: 100;
    font-size: 1.6rem;
}

code,
h1,
h2,
h3,
h4,
h5,
h6,
kbd,
p,
div,
ul,
ol,
dl,
table,
blockquote,
fieldset > legend {
    margin: 1rem 0;
}

a {
    color: $link;
    display: inline-block;
    background-color: $link-bg;
    text-decoration: none;
    font-weight: 100;
    //box-shadow: 0 0 0 rgba(255, 255, 255, 1);
    transition: all 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86); 
}

a:hover {
    $linkxy: 2px;
    background-color: $link-bg-hover;
    color: $link-hover;
    box-shadow: -2px 1px 4px $link-bs-hover;
    transform: translate3d($linkxy, -1*$linkxy, 0);
}

a:active {
    box-shadow: 0 0 0 rgba(255, 255, 255, 1);
    transform: translate3d(0, 0, 0);
}

blockquote {
    margin-left: 2rem;
    margin-right: 2rem;
}

fieldset > legend {
    width: 100%;
    font-size: 24px;
    border-bottom: 1px solid $base-text;
    box-sizing: border-box;
    color: $base-text;
}

footer {
    opacity: 0.8;

    small {
        display: block;
        font-size: 0.8rem;
        margin: 0.5rem 0;

        // a:hover {
        //     border-bottom: 1px solid rgba(236, 183, 47, 0);
        // }
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    border-bottom: 2px solid $base-text;
    color: $base-text;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.8rem;
}
header {
}

mark {
    padding: 0 0.2rem;
    background-color: rgb(255, 255, 127);
}

dd {
    margin-left: 2rem;
}
ul,
ol {
    padding-left: 2rem;
    padding-right: 2rem;
    li {
        list-style-position: inside;
    }
}

ul li {
    list-style-type: square;
}


.logo__twitter{
    border-radius: 100%;
    display: inline-block;
    margin-right: 0.2rem;
    max-height:40px;
    max-width:40px;
    min-height:20px;
    min-width:20px;
    padding: 0;
    width: 100%;
    background-color: $brand-twitter;
}

.logo__twitter:hover {
    background-color: $brand-twitter;
}

.header__link {
    display: inline-block;
    padding: 1rem;
}


.content {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 1rem;
}
